*, :after, :before {
    box-sizing: border-box;
}
body {
    font-family: Open Sans,sans-serif;
    padding: 0!important;
    margin: 0!important;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
}
div {
    border-radius: 0!important;
	display: block;
}
div.portlet-body {
    padding: 10px 15px;
    clear: both;
    background-color: #fff;
    background: #fff;
	background: #f2f2f2;
    color: rgba(0,0,0,.8);
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.chapter-content table {
    background: #004b7a;
    margin: 10px auto;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,.75);
    border-collapse: separate;
    border-spacing: 2px;
}
.chapter-content table td {
    margin: 3px;
    padding: 5px;
    color: #ccc;
    border: 1px solid hsla(0,0%,100%,.25)!important;
    background: rgba(0,0,0,.1);
}
.chapter-content * {
    font-family: inherit;
}